%article.video_category
  %header
    %h3= link_to "Category Here"
  .videos.row
    - @videos.each do |video|
      .video.col-sm-2
        %h4=video.title
        = link_to video_path(video) do
          %img(src="#{video.small_image_url}")