!!! 5
%html(lang='en-US')
  %body
    %h1
      Hi #{@invitation.recipient_name}, #{@invitation.inviter.full_name} has invited you to join MyFlix.
    %p
      = @invitation.message
    =link_to "Accept This Invitation", '#'