%article.video_category
  %header
    %h3= "Categories"
  - @categories.each do |cat|
    .videos.row
      %h4=cat.name
      - cat.videos.each do |video|
        .video.col-sm-2
          = link_to video_path(video) do
            %img(src="#{video.small_image_url}")
    %hr